.filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0;
}

@media (max-width: 800px) {
  .filter__wrapper {
    flex-direction: column;
    margin-top: 0;
  }
}




